html,
body,
#root {
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Abtos", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.csv-reader-input > input {
  max-width: 300px;
}

.clickable:hover {
  cursor: pointer;
}

.scroll-disabled {
  overflow: hidden;
}
